/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

a {
  cursor: pointer;
}

.cal-day-badge {
  display: none !important;
}

.bg-1 {
  background-color: #f9844a !important;
}

.bg-2 {
  background-color: #43aa8b !important;
}

.bg-3 {
  background-color: #90be6d !important;
}

.bg-4 {
  background-color: #4d908e !important;
}

.bg-5 {
  background-color: #577590 !important;
}
